@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    background-color: peachpuff;

}/* Cor de fundo/lateral do Site*/

.corfundo {
    margin-top: -20px;
    width: 12.500in;
    height: 1700px;
    background-color: white;

}/*Cor div/main do centro do site*/


main{
    margin: 0 auto;
    width: 1200px;
    position: relative;
    
}/*Formatação de espaçamento do site*/


* {
    font-family: 'Open Sans' , sans-serif;
    box-sizing: border-box;
    padding: 0;

}/*Fonte de texto do Site*/

.menu {
    background-color: black;
    height: 40px;
    width: 12.500in;
    
}/*Barra de Menu do Site*/

#menu-h ul {
    list-style-type: none;
    padding: 0;
    background-color: black;
    max-width: 12.500in;
    margin: auto;
    margin-top: -5px;

}/*Formatação da barra de Menu do Site*/


#menu-h ul li {
    display: inline;
}/*Formatação de linha do Menu*/

#menu-h ul li a {
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    padding: 15px;
    transition: background .2s;

}/*Formatação da caixa de topicos do site*/

#menu-h ul li a:hover, button:hover {

    background-color: #f37a31;

}/*Cor de transição do Menu*/


.barra {
    border-bottom:2px solid #f37a31;
    margin-bottom: 10px;
    width: 500px;
    padding-bottom: 0;
    margin-top: -2px;

}/*Linha vertical do titulo*/


.barra-titulo {
    font-size: 20px;
    color:#FFF;
    padding: 5px;
    margin-left: 40px;

}/*Fonte do titulo "Campos do Jordão"*/


.Historia {

    display: table;
    border: 0px solid #f37a31;
} /*divisão para aera sobre campos do jordão*/


.sobre img {

    
    border: 0px solid black;
    margin-left: 45px;
    
    
}/*div imagem campos do jorão*/

.sobre {

    display: table-cell;
    float: left;
    

}/*Formatação de imagem de campos do jordão*/


.texto {
    border: 0px solid #111010;
    display: table-cell;
    float:left;
    width: 600px;
    height: 356px;
    margin-top: -28px;
    margin-left: 10px;

}/*Formatação do texto sobre campos do jordão*/

.texto2 {
    border: 0px solid #111010;
    margin-left: 45px;
    width: 1110px;
    margin-top: -10px;

}/*Formatação do texto2 sobre campos do jordão*/

.map {
    border: 0px solid black;
    margin-left: 45px;
    
}

.map iframe {
    max-width: 100%;
    max-height: 100%;
}
.barra-titulo2 {
    font-size: 20px;
    color:#FFF;
    padding: 5px;
    margin-left: 40px;
    margin-top: 400px;

}

.barra2 {
    border-bottom:2px solid #f37a31;
    margin-bottom: 10px;
    width: 600px;
    padding-bottom: 0;
    margin-top: -2px;

}

#slider {
    
    
    position: relative;
    
}

#slider img{
    opacity: 0;
    position: absolute;
    
    object-fit: cover;
    transition: opacity 600ms;
    margin-left: 3px;
    margin-top: 
}

#slider img.selected { 
    opacity: 1;
}

.maravilhas {
    font-size: 97%;
}
/*-------------------------------page2---------------------------------*/
.corfundo2 {
    margin-top: -20px;
    width: 12.500in;
    height: 2700px;
    background-color: white;
}

.titulo-restaurantes {
    font-size: 20px;
    color:#FFF;
    padding: 5px;
    margin-left: 40px;

}/*Fonte do titulo Restaurantes*/

.barrapage2 {
    border-bottom:2px solid #f37a31;
    margin-bottom: 10px;
    width: 800px;
    padding-bottom: 0;
    margin-top: -2px;
}/*Linha vertical do titulo restaurantes*/

.bosque {
    border: 0px solid black;
    width: 800px;
    font-size: 80%;
}/*Formatação do texto introdução pontos turisticos*/

.bosque img {
    margin-top: 5px;
    border: 1px solid black;
}/*formatacão imagem bosque*/

.morro-elefante {
    margin-top: -15px;
    border: 0px solid black;
    margin-left: 40px;
    width: 800px;
}/*Formotação do texto morro do elefante*/

.morro-elefante img{
    border: 1px solid black;
}/*Formatação da imagem do morro do elefante*/

.ducha-prata {
    margin-left: 40px;
    width: 800px;
}/*Formatação do texto ducha de prata*/

.ducha-prata img {
    width: 800px;
    height: 400px;
}/*Formataçção imagem*/

.passeio {
    margin-left: 40px;
    width: 800px;
}/*Formatação do texto ducha de prata*/

.passeio img {
    width: 800px;
    height: 400px;
}/*Formataçção imagem*/
/*-------------------------------page3---------------------------------*/

.corfundo3 {
    margin-top: -20px;
    width: 12.500in;
    height: 3200px;
    background-color: white;
}/*Formatação cor de fundo*/

.titulo-hoteis {
    font-size: 20px;
    color:#FFF;
    padding: 5px;
    margin-left: 40px;
}/*Formatação do titulo hoteis*/

.barrapage3 {
    border-bottom:2px solid #f37a31;
    margin-bottom: 10px;
    width: 800px;
    padding-bottom: 0;
    margin-top: -2px;
}/*Formatação linha vertical*/

.hoteis {
    width: 800px;
    font-size: 80%;
}/*Formatação do texto ducha de prata*/

.hoteis img {
    margin-top: 5px;
    
}/*Formatação imagem*/

.castelo {
    margin-left: 40px;
    width: 800px;
}/*Formatação do texto castelo*/

.castelo img {
    height: 400px;
    width: 800px;
}/*Formatação imagem*/

.garnier {
    margin-left: 40px;
    width: 800px;
}/*Formatação do texto garnier*/

.garnier img {
    height: 400px;
    width: 800px;
}/*Formatação imagem*/

.quedas{
    margin-left: 40px;
    width: 800px;
}/*Formatação do texto quedas*/

.quedas img{
    height: 400px;
    width: 800px;
}/*Formatação da imagem*/
/*-----------------------------------page4----------------------------------*/
.corfundo4 {
    margin-top: -20px;
    width: 12.500in;
    height: 3100px;
    background-color: white;
}

.titulo-restaurante {
    font-size: 20px;
    color:#FFF;
    padding: 5px;
    margin-left: 40px;
}

.barrapage4 {
    border-bottom: 2px solid #f37a31;
    margin-bottom: 10px;
    width: 800px;
    padding-bottom: 0;
    margin-top: -2px;
}

.restaurante {
    width: 800px;
    font-size: 80%;
}

.restaurante img{
    
    margin-top: 5px;
}

.baden {
    width: 800px;
    margin-left: 45px;
}

.baden img{
    height: 400px;
    width: 800px;
}

.ludwig {
    width: 800px;
    margin-left: 45px;
}

.ludwig img {
    height: 400px;
    width: 800px;
}

.bonaza {
    width: 800px;
    margin-left: 45px;
}

.bonaza img {
    height: 400px;
    width: 800px;
}

/*-----------------------------------page5----------------------------------*/
.corfundo5 {
    margin-top: -20px;
    width: 12.500in;
    height: 2850px;
    background-color: white;
}
.titulo-eventos {
    font-size: 20px;
    color:#FFF;
    padding: 5px;
    margin-left: 40px;
}
.barrapage5 {
    border-bottom: 2px solid #f37a31;
    margin-bottom: 10px;
    width: 800px;
    padding-bottom: 0;
    margin-top: -2px;
}

.eventos img {
    
    margin-top: 5px;
}

.eventos {
    width: 800px;
    font-size: 80%;
}

.pinhao {
    width: 800px;
    font-size: 80%;
}

.pinhao img{

}

.cerejeira {
    width: 800px;
    font-size: 80%;
}

.cerejeira img {
   
}

.cerveja {
    width: 800px;
    font-size: 80%;
}

.cerveja img{
    
}

/*---------------------------------------Footer---------------------------------*/

footer {
    width: 12.500in;
    min-height: 250px;
    background-color: black;
    display: flex;
}

footer .boxs {
    width: 320px;
    min-height: 150px;
    padding: 20px;
}

footer .boxs: :nth-child(4) {
    width: 400px;
}

.boxs h2 {
    color: #FFF;
    margin-bottom: 20px;
}

.boxs ul li {
    margin: 10px 0px;
    list-style: none;
}

.boxs ul li a {
    color: #ddd;
    text-decoration: none;
}

.boxs ul li a:hover {
    color: #FFF;
}

.boxs p {
    color: #FFF;
    text-align: justify;
}



  /*---------------------------------responsivo-----------------------------*/

  button {
    background-color: black;
    border: none;
    color: #FFF;
    font-size: 25px;
    display: none;
    margin-left: 10px;
    margin-top: -50px;

}

button:focus ul {
    height: 50px;

}
input[type="checkbox"] {
    display: none;
}

label img {
    width: 50px;
    color: #ddd;
    margin-top: -5px;
    position: absolute;
    display: none;
}
input {
    margin-top: 30px;
    position:absolute;
    
    
}


label :hover {
    background-color: #f37a31;
}

.campos1 {
    font-size: 20px;
    color:#FFF;
    padding: 5px;
    margin-left: 40px;
    display: none;
}

.text1 {
    font-size: 17px;
    padding: 5px;
    margin-left: 40px;
    display: none;
}

.text2 {
    font-size: 17px;
    padding: 5px;
    margin-left: 40px;
    display: none;
}

/*-------------------------------teste menu------------------------------*/














/*-------------------------------teste menu------------------------------*/

@media (max-width: 680px) {
    button {
        display:none;
        font-size: 35px;

    }
    
    #menu-h ul li a {
        display: grid;
        width: 700px;
        background-color: black;
        position:relative;
        left: -710px;
        
        
        
    }
    #menu-h ul {
        background-color: black;
        height: 50px;
        margin-top: 3p;
    }
  
    input[type="checkbox"]:checked ~ nav {
        transform: translatex(760px)
    }
    
    label img {
        display: block;
    }
    img {
        max-width: 100%;
    }
    
    main {
        max-width: 100%;
    }

    .corfundo {
        max-width: 100%;
        height: 2600px;
        
        
    }


    .sobre img {
        max-width: 100%;
        margin-left: 0px;
        display: none;
    }

    .Historia {
        max-width: 100;
    }

    .texto {
        max-width: 100%;
        float:none;
        display: none;
        
    }

    .texto2 {
        max-width: 100%;
        margin-top: -25px;
        display: none;
        
    }

    map iframe {
        position:absolute;
    }

    footer {
        display: grid;
    }

    .barra, .barra2 {
        max-width: 100%;
    }

    .campos1 {
        display: block;
        margin-left: 3px;
    }

    .text1 {
        display: block;
        font-size: 17px;
        margin-left: 3px;
        font-size: 20px;
    }

    .text2 {
        display: block;
        font-size: 17px;
        margin-top:-40px;
        font-size: 20px;
        margin-left: 3px;
    }

    .map {
        margin-left: 3px;
    }

    .barra-titulo2 {
        margin-left: 3px;
    }

    .maravilhas {
        margin-left: 3px;
        font-size: 70%;
        

    }

    #slider {
        margin-left: -2px;
    }

    .barra-titulo2 {
        margin-top: 240px;
    }
    
    /*------------------------------------------page2----------------------------*/

    .corfundo2 {
        max-width: 100%;
        
    }
    
    .titulo-restaurantes {
        max-width: 100%;
        margin-left: 3px;
    }
    
    .barrapage2 {
        max-width: 100%;
    }
    
    .bosque {
        max-width: 100%;
        max-height: 100%;
    }
    
    .bosque img {
        max-width: 100%;
        
    }
    
    .morro-elefante {
        max-width: 100%;
    }
    
    .morro-elefante img {
        max-width: 100%;
    }
    
    .ducha-prata {
        max-width: 100%;
    }
    
    .ducha-prata img {
        max-width: 100%;
    }
    
    .passeio {
        max-width: 100%;
    }
    
    .passeio img {
        max-width: 100%;
    }



    /*--------------------------------------------page3-------------------------*/

    .corfundo3 {
        max-width: 100%;
        
    }

    .titulo-hoteis {
        max-width: 100%;
        margin-left: 3px;
    }

    .barrapage3 {
        max-width: 100%;
    }

    .hoteis {
        max-width: 100%;
    }

    .hoteis img {
        max-width: 100%;
    }

    .castelo{
        max-width: 100%;
    }

    .castelo img {
        max-width: 100%;
    }

    .garnier {
        max-width: 100%;
    }

    .garnier img {
        max-width: 100%;
    }

    .quedas {
        max-width: 100%;
    }

    .quedas img {
        max-width: 100%;
    }

    /*------------------------------page4--------------------------*/

    .corfundo4 {
        max-width: 100%;
        
    }
    
    .titulo-restaurante {
        max-width: 100%;
        margin-left: 3px;
    }
    
    .barrapage4 {
        max-width: 100%;
    }
    
    .restaurante {
        max-width: 100%;
    }
    
    .restaurante img{
        max-width: 100%;
    }
    
    .baden {
        max-width: 100%;
    }
    
    .baden img{
        max-width: 100%;
    }
    
    .ludwig {
        max-width: 100%;
    }
    
    .ludwig img {
        max-width: 100%;
    }
    
    .bonaza {
        max-width: 100%;
    }
    
    .bonaza img {
        max-width: 100%;
    }

/*--------------------------page5-------------------------*/
 
.corfundo5 {
    max-width: 100%;
    
}
.titulo-eventos {
    max-width: 100%;
    margin-left: 3px;
}
.barrapage5 {
    max-width: 100%;
}

.eventos img {
    max-width: 100%;
}

.eventos {
    max-width: 100%;
}

.pinhao {
    max-width: 100%;
}

.pinhao img{
    max-width: 100%;
}

.cerejeira {
    max-width: 100%;
}

.cerejeira img {
    max-width: 100%;
}

.cerveja {
    max-width: 100%;
}

.cerveja img{
    max-width: 100%;
}

footer {
    max-width: 100%;
}



}



 