#pagina-c {
    width: 12.500in;
    margin: auto;
    
}


*{
    margin: 0 auto;
    padding: 0;
}

#menu-h {
    list-style-type: none;
    padding: 0;
    background-color: black;
    
}


#menu-h li {
    display: inline;
}

#menu-h li a{
    display: inline;

}



